<div role="tabpanel" class="tab-pane active fade in" id="general">
<div class="row">
  <div class="col-md-4 text-center">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t 'mongoid.attributes.user.user_avatar' %></h3>
      </div>
      <div class="panel-body">
        <%= image_tag @professor.user_avatar.url(:medium), class:'img-medium img-medium img-rounded' %>
      </div>
    </div>
    <h3></h3>
  </div><!--//col-->

  <div class="col-md-8">
    <%= render 'users/show/personal', resource: @professor %>
    <%= render 'users/show/legal', resource: @professor %>
  </div><!--//col-->
</div><!--//row-->
</div>