<div role="tabpanel" class="tab-pane active fade in" id="general">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/forms/avatar', f: f %>
    </div><!--//col-->

    <div class="col-md-9">

      <%= render 'users/forms/personal', f: f %>
      <%= render 'users/forms/legal', f: f %>
      <%= render 'users/forms/login_account', f: f %>

    </div><!--//col-->
  </div><!--//row-->
</div><!--//profile-->