<div id="modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

    </div><!--//modal-content-->
  </div><!--//modal-dialog-->
</div><!--//modal-->