<% title t('sidebar.dashboard') %>

<%= render "dashboards/widgets/#{current_user.role}_widgets" %>

<div class="row">
  <div class="col-lg-5">
    <%= render 'dashboards/partials/notices' %>
  </div><!--//col-->

  <div class="col-lg-7">
    <div class="panel">
      <div class="panel-body">
        <%= month_calendar do |date| %>
            <%= date.day %>
        <% end %>
      </div><!--//panel-body-->
    </div><!--//panel-->
  </div><!--//col-->
</div><!--//row-->