<div role="tabpanel" class="tab-pane active fade in" id="program">
    <div class="row">
      <%= f.input :diploma_title, wrapper_html:{ class:'col-md-6' } %>
      <%= f.input :studies_level, as: :select, include_blank: false, wrapper_html:{ class:'col-md-6' }  %>
      <%= f.input :semesters, wrapper_html:{ class:'col-md-6' }  %>
      <%= f.input :status, include_blank: false, wrapper_html:{ class:'col-md-6' } %>
    </div><!--//row-->
</div><!--//programme-->