.table.dataTable, table.table-bordered.dataTable{
  border-collapse: collapse !important;
}

.datatable, .full-length-datatable, .dataTables_scroll{
  .no-sort, .text-center{
    padding-right: 8px !important;
  }
}

.dataTables_empty{
  text-align: center;
}