.table.dataTable{
  border-collapse: collapse !important;
}

.datatable, .dataTables_scroll{
  .no-sort, .text-center{
    padding-right: 8px !important;
  }
}

.dataTables_empty{
  text-align: center;
}