$turquoise: #1abc9c;
$green-sea: #16a085;

$emerald: #40d47e;
$nephritis: #27ae60;

$grass: #A0D468;
$grass-darken: #8CC152;

$peter-river: #3498DB;
$belize-hole: #5D9CEC;

$aqua: #4FC1E9;
$aqua-darken: #3BAFDA;

$mint: #48CFAD;
$mint-darken: #37BC9B;

$lavender: #AC92EC;
$lavender-darken: #967ADC;

$amethyst: #9B59B6;
$wisteria: #8E44AD;

$wet-asphalt: #34495E;
$midnight-blue: #2C3E50;

$sunflower: #FFDD87;
$sunflower-dark: #F6BB42;

$orange: #F1C40F;
$orange-darken: #F39C12;

$carrot: #E67E22;
$pumpkin: #D35400;

$bittersweet: #FC6E51;
$bittersweet-darken: #E9573F;

$alizarin: #E74C3C;
$pomegranate: #C0392B;

$grapefruit: #ED5565;
$grapefruit-darken: #DA4453;

$pink-rose: #EC87C0;
$pink-rose-darken: #D770AD;

$light-gray: #F5F7FA;
$light-gray-darken: #E6E9ED;

$clouds: #ECF0F1;
$silver: #BDC3C7;

$medium-gray: #CCD1D9;
$medium-darken: #AAB2BD;

$concrete: #95A5A6;
$asbestos: #7F8C8D;

$dark-gray: #656D78;
$dark-gray-darken: #434A54;

$mafia: #4D4D4D;
$mafia-darken: #444;