<div id="copyright" class="text-center">
  <p><%= Time.now.year %> &copy; | Created by <%= link_to 'DimiDev', 'http://gr.linkedin.com/in/dimidev', target: 'blank' %></p>

  <%= image_tag 'badges/ror.png', class: 'ror-badge' %>
  <%= image_tag 'badges/mongodb.png', class: 'mongo-badge' %>
</div>